{% extends 'base.html' %}

{% block content %}
  <h1>회원 목록</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <a href="{% url 'accounts:update' %}">회원정보 수정</a>
    <a href="{% url 'change_password' request.user.pk %}">비밀번호 변경</a>
    <a href="{% url 'accounts:delete' %}">회원탈퇴</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
  {% endif %}
  <ul>
    {% for user in users %}
      <li>{{ user.username }}<hr></li>
    {% endfor %}
  </ul>
{% endblock %}
